td:first-child {width: 150px;}
td:nth-child(2) {width: 250px;}
td:last-child {width: 100px;}
a[href^="#"]:not(.btn) { color: gray; text-decoration: none; }
/*canvas {position: fixed; top: 0; left: 0; z-index: -1;}*/


#canvas-holder{
	width: 200px;
	height: 170px;
	/*border: 1px solid red;*/
	float: left;
	margin-top: 67.5px;
	margin-right: 20px;
}
